<!DOCTYPE html>
<html>
<head>
  <title>Appetite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		Appetite - The Best Pubs in the World
		<%= link_to "Add a Pub", new_pub_path %>
		
	</nav>



</header>
<%= yield %>

<h> 

</body>
</html>
